:root {
   --primary: rgba(42, 96, 255, 1);
   --primary-hover: #1f4bcf;
   --paragraph: #161616;
   --border: #e0dede;
   --background: #f9f8fd;
   --green: #1dc37e;
   --orange: #fc836d;
   --hhRu: #de0000;
}

@media (prefers-color-scheme: dark) {
   :root {
   }
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

html,
body {
   max-width: 100vw;
   overflow-x: hidden;
   background-color: var(--background);
   color: var(--paragraph);
}

@media (prefers-color-scheme: dark) {
   html {
      color-scheme: dark;
   }
}
