:root {
   --paragraph: #3b3b3b;
   --black: #050206;
   --primary: #9a8174;
   --background: #f2f8fc;
}

@media (prefers-color-scheme: dark) {
   :root {
   }
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

html,
body {
   max-width: 100vw;
   overflow-x: hidden;
   background-color: var(--background);
   color: var(--paragraph);
}

@media (prefers-color-scheme: dark) {
   html {
      color-scheme: dark;
   }
}
