.tag {
   display: inline-block;
   margin-right: 5px;
   border-radius: 20px;
   cursor: pointer;
}

.small {
   padding: 5px 10px;
   font-size: 12px;
   line-height: 12px;
}

.medium {
   padding: 5px 10px;
   font-size: 14px;
   line-height: 14px;
}

.ghost {
   border: 1px solid var(--border);
   color: var(--paragraph);
}

.red {
   background-color: #de0000;
   color: var(--white);
   font-weight: bold;
}

.grey {
   background-color: var(--background-grey);
   color: var(--white);
   border-radius: 14px;
}

.green {
   color: var(--green);
   background-color: var(--green-light);
   font-weight: bold;
}

.primary {
   background-color: transparent;
   border: 1px solid var(--primary);
   color: var(--primary);
}
